# Core auxiliary files
*.aux
*.log
*.out
*.toc

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*.run.xml

# Index auxiliary files
*.idx
*.ind

# WinEdt
*.bak
*.sav

# Vim swap files
*~
*.swp
*.swo

# Auxiliary files dir
tmp/*

# Main dictionary file
letters.tex

# Output file
*.pdf
!photo_icon.pdf
